# Emacs
*~
.\#*
*\#

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__
pycache/
*.egg-info/
dist/
build/


# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
